doctype html
html(lang="en")
  head
    link(id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon")
    title FCC ISP SRTM Game:  Not Found
  body
    h1 FCC ISP SRTM Game:  Not Found
    p The page was not found.
